* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --content-primary: #FFFFFF;
  --content-secondary: #98959D;
  --content-tertiary: #666666;
  --content-brand: #9282FA;
  --content-button: #050505;

  --background-container: #14151D;
  --background-primary: #151515;
  --background-secondary: #1E1E1E;
  --background-tertiary: #23242C;
  --background-selection: #1E1E1EF5;
  --background-logo: #2E2C30;
  --background-brand: #9282FA;
  --background-highlights: #BDB4FA;

  --border-primary: #3E3C41;
  --border-secondary: #86818C;
  --border-brand: #9282FA;
  --border-divisor: #353339;

  --accent-blue: #027DF0;
  --accent-blue-light: #16487A;
  --accent-yellow: #F0DC02;
  --accent-yellow-light: #756E1B;
  --accent-orange: #F09102;
  --accent-orange-light: #75501B;

  --inter-tight: "Inter Tight", sans-serif;
  --inter: "Inter", sans-serif;
  
  --title: 700 24px/32px var(--inter-tight);

  --paragraph-medium: 500 14px/24px var(--inter);
  --paragraph-small: 500 12px/16px var(--inter);

  --label-large: 700 16px/24px var(--inter);
  --label-medium: 700 14px/24px var(--inter);
  --label-small: 700 12px/16px var(--inter);

  --link: 500 12px/16px var(--inter);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%
}

body {
  background-color: var(--background-container);
}

.hide {
  display: none;
}

.desktop-only {
  display: inherit;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-28 {
  gap: 28px;
}

.gap-32 {
  gap: 32px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.title {
  & h1 {
    font: var(--title);
    color: var(--content-primary);
  }
  
  & p {
    font: var(--paragraph-medium);
    color: var(--content-secondary);
  }
}

& .input-selected {
  border: 1px solid var(--border-brand) !important;
}

input::placeholder, textarea::placeholder {
  color: var(--content-tertiary);
}

.schedule-list {
  background-color: var(--background-tertiary);
  border-radius: 10px;

  & .header {
    padding: 12px 20px;
    display: flex;
    gap: 12px;
    border-bottom: 1px solid var(--background-logo);

    & img {
      width: 20px;
      height: 20px;
    }

    & strong {
      width: 100%;
      font: var(--label-large);
      color: var(--content-primary);
    }

    & span {
      min-width: fit-content;
      font: var(--label-large);
      color: var(--content-secondary);
    }
  }

  & .clients-list {
    padding: 20px;

    & li + li {
      border-top: 1px solid var(--border-divisor);

      & .client-infos {
        margin-top: 16px;
      }
    }

    & li {
      padding: 12px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      & .client-infos {
        & span:first-child {
          font: var(--label-medium);
          color: var(--content-primary);
          margin-right: 12px;
        }
        
        & .pet-name {
          font: var(--label-medium);
          color: var(--content-primary);
        }
        
        & .client-name {
          font: var(--paragraph-medium);
          color: var(--content-secondary);
          margin-left: 4px;
        }

        & p {
          font: var(--paragraph-medium);
          color: var(--content-secondary);
        }
      }

      & .schedule-cancel {
        font: var(--paragraph-small);
        color: var(--content-tertiary);
        margin-left: auto;
      }
    }
  }
}

#logo {
  width: fit-content;
  height: fit-content;
  position: absolute;
  inset: 0;
  background-color: var(--background-logo);
  padding: 12px 20px;
  border-bottom-right-radius: 12px;
  z-index: 9;

  & .logo-wrapper {
    align-items: center;

    & img {
      width: 20px;
      height: 20px;
    }

    & span {
      color: var(--content-brand);
      text-transform: uppercase;
      font: var(--label-large);
    }
  }
}

#container {
  width: 100%;
  height: 100%;
  max-width: 871px;
  margin-block: 57px 140px;
  margin-inline: auto;
  padding: 12px 20px;

  & header {
    flex-direction: column;

    & fieldset {
      width: fit-content;
      border: 1px solid var(--border-primary);
      border-radius: 8px;
      
      & label {
        padding: 12px;
        align-items: center;
  
        & img {
          width: 20px;
          height: 20px;
        }

        & input {
          font-family: var(--inter);
          font-size: 1rem;
          font-weight: 400;
          line-height: 150%;
          color: var(--content-secondary);
          
          background-color: transparent;
          outline: none;
          border: none;
        }

        & ::-webkit-calendar-picker-indicator {
          background: url(../assets/Arrow-down.svg) no-repeat;
        }

        &:focus-within {
          outline: 2px solid var(--border-brand);
          border-radius: 8px;
        }
      }
    }
  }
}

#new-schedule {
  background-color: var(--background-tertiary);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 18px 0;
  justify-content: center;
  
  & button {
    height: 48px;
    border: 0;
    border-radius: 8px;
    background-color: var(--background-brand);
    color: var(--content-button);
    padding: 12px 24px;
    text-transform: uppercase;
    font: var(--label-large);
    filter: drop-shadow(0 0 40px rgba(146, 130, 250, 0.3));
  }
}

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-tertiary);
  border-radius: 12px;
  z-index: 10;
  margin-top: 30px;
  
  & .inner-modal {
    padding: 40px 20px;
    position: relative;

    & fieldset {
      border: none;
      justify-content: center;
      grid-template-areas: "tutor-name" "pet-name" "tel" "description" "date" "hour";

      & .input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;

        & label {
          font: var(--label-medium);
          color: var(--content-primary);
        }

        & .input {
          border: 1px solid var(--border-primary);
          border-radius: 8px;
          padding: 12px;

          display: flex;
          align-items: center;
          gap: 8px;

          & img {
            width: 20px;
            height: 20px;
          }

          & input, & textarea, & .select {
            background-color: transparent;
            border: none;
            outline: none;
            flex: 1;
            color: var(--content-primary);
            
            font-family: var(--inter);
            font-size: 1rem;
            font-weight: 400;
            line-height: 150%;
          }

          &:hover {
            border: 1px solid var(--border-secondary);
          }

          &:focus-within {
            border: 1px solid var(--border-brand);
            outline: transparent;
          }

          & ::-webkit-calendar-picker-indicator {
            background: url(../assets/Arrow-down.svg) no-repeat;
          }

          & #selected-value {
            color: var(--content-tertiary);
          }
        }

        & #form-hour {
          position: relative;
        }

        & #options {
          border-radius: 8px;
          border: 1px solid var(--border-primary);
          background-color: var(--background-selection);
          overflow: hidden;

          position: absolute;
          bottom: 54px;
          left: 0;
          right: 0;

          & .option {
            
            padding: 4px;

            position: relative;

            & span {
              color: var(--content-primary);
              font-family: var(--inter);
              font-size: 1rem;
              font-weight: 400;
              line-height: 150%;
            }

            &:has(input:checked),
            &:not(:has(input[disabled])):hover {
              background-color: var(--background-tertiary);
            }

            & .selected-hour {
              background-color: var(--background-brand);
              outline: 1px solid var(--border-divisor);
            }

            & input[type="radio"] {
              all: unset;

              position: absolute;
              inset: 0;
            }

            &:has(input[disabled]) span {
              color: var(--content-tertiary);
            }

            & input[disabled] {
              cursor: not-allowed;
            }

          }
        }

        #form-hour {
          color: var(--content-primary);
        
          font-family: var(--inter);
          font-size: 1rem;
          font-weight: 400;
          line-height: 150%;
        }

        &:has([id="tutor-name"]) {
          grid-area: tutor-name;
        }

        &:has([id="pet-name"]) {
          grid-area: pet-name;
        }

        &:has([id="contact-phone"]) {
          grid-area: tel;
        }

        &:has([id="service-description"]) {
          grid-area: description;
        }

        &:has([id="form-date"]) {
          grid-area: date;

          & input {
            max-height: 24px;
          }
        }

        &:has([id="input-selected-hour"]) {
          grid-area: hour;
        }
      }
    }

    & .schedule-button {
      align-self: end;
      padding: 12px 24px;

      text-transform: uppercase;
      font: var(--label-large);

      border: none;
      border-radius: 8px;
      background-color: var(--background-brand);
    }

    & .close-new-schedule {
      width: 36px;
      height: 36px;
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(7px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
}

@media (width >= 80em) {
  .desktop-only {
    display: none;
  }

  .schedule-list {
    & .clients-list {
      & li + li {
        & .schedule-cancel { 
          margin-top: 16px;
        }
      }
      
      & li {  
        display: grid;
        grid-template-columns: 1fr max-content;
        flex-direction: row;
        align-items: center;
        
        & .schedule-cancel { 
          margin-left: 0;
          &:hover {
            cursor: pointer;
            color: var(--content-primary);
            text-decoration: underline;
          }
        }

        & .client-infos {
          display: grid;
          grid-template-columns: max-content max-content 1fr max-content;

          & span:first-child,
          & .pet-name {
            font: var(--label-small);
          }

          & .client-name,
          & p {
            font: var(--paragraph-small);
          }
          & p {
            display: inline;
            text-align: start;
            width: 200px;
            margin-right: auto;
          }
        }
      }
    }
  }

  #container {
    margin-top: initial;
    padding: 80px;

    & header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & fieldset {
        &:hover {
          border: 1px solid var(--border-secondary);
        }
        & label {
          & ::-webkit-calendar-picker-indicator {
            cursor: pointer;
          }
        }
      }
    }
  }

  #new-schedule {
    background-color: initial;
    display: block;
    bottom: 33px;
    left: initial;
    right: 30px;

    & button {
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--background-highlights);
      }
    }
  }

  #modal {
    margin-top: initial;
    width: 570px;
    & .inner-modal {
      padding: 40px;

      & fieldset {
        grid-template-areas: "tutor-name tutor-name" "pet-name pet-name" "tel tel" "description description" "date hour";
        grid-template-columns: 50% 50%;
      }

      & ::-webkit-calendar-picker-indicator {
        cursor: pointer;
      }

      & .schedule-button {
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--background-highlights);
        }
      }
      
      & .close-new-schedule {
        cursor: pointer;
      }
    }
  }
}